@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  font-family: "Funnel Display", sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#proyectos{
  background-color:rgb(30, 30, 30);
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
}

.proyecto{
  background: linear-gradient(rgb(49, 63, 216), rgb(152, 62, 201));
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem;
}

.links{
  color: white;
}

.links:hover{
  color: rgb(126, 255, 212);
}
